.App {
  box-sizing: border-box;
  width: 100%;
  padding: 3rem;
}

.blocks {
  display: flex;
}
.blocks div {
  margin-right: 5rem;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border: 1px solid gainsboro;
  /* animation-duration: .5s;
  animation-name: toggle;
  animation-timing-function: ease-in-out; */
  animation: toggle 750ms ease-in-out forwards
}

.square.blue{
  background-color: skyblue;
}
.square.orange {
  background-color: lightsalmon
}

@keyframes toggle {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
  }
  75% {
    opacity: 1;
    transform: translateY(25px);
  }
}